<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/js/bootstrap.min.js"/>
	</head>
	<body>
		<div ng-controller= "StoreController as store">
			<div ng-repeat = "product in store.products">
				<h1>{{product.name}}</h1>
				<p>{{product.description}}</p>
				<h2>{{product.price}}</h2>
			<button ng-hide = "store.product.soldOut">Add to cart</button>
			<hr>
			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js" ></script>
	</body>
</html>
